<li
    id="message-{{$index}}"
    ng-class="{
        'watson': message.from === 'watson' || message.from === 'feedback'|| message.from === 'feedbackNegative',
        'user': message.from === 'user'
    }">

    <img ng-src="{{message.image}}" class="media-object">

    <p class="bubble">
        <span ng-bind-html="message.text"></span>
    </p>

    <!-- Feedback Container -->
    <p class="feedback-btns-container" ng-if="message.from === 'feedback'">
        <a
            href="#message-{{$index}}"
            class="feedback-btn green-border feedback-btn-useful"
            ng-click="feedback(message,'positive')"
            ng-class="{'positive': message.feedback === 'positive'}">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            Useful
        </a>

        <a
            href="#message-{{$index}}"
            class="feedback-btn red-border"
            ng-click="feedback(message,'negative')"
            ng-class="{'negative': message.feedback === 'negative'}">
            <span class="glyphicon glyphicon-thumbs-down"></span>
            Not useful
        </a>
    </p>

    <p class="feedback-btns-container" ng-if="message.from === 'feedbackNegative'">
        <button
            id="buttonOpc1-{{$index}}"
            href="#message-{{$index}}"
            class="feedback-btn red-border"
            ng-click="feedbackNegative(message,'This answer does not help me to find what I am looking for.')">
            This answer does not help me to find what I am looking for.
        </button>
        <br/>
        <button
            id="buttonOpc2-{{$index}}"
            href="#message-{{$index}}"
            class="feedback-btn red-border"
            ng-click="feedbackNegative(message,'Though my question is answered, I am not satisfied with that answer.')">
            Though my question is answered, I am not satisfied with that answer.
        </button>
        <br/>
        <input id="inputNegative-{{$index}}" ng-keyup="$event.keyCode == 13 && getNegativeInput(message)" class="feedback-btn red-border feedback-btn-useful" class="ng-valid ng-isolate-scope ng-dirty ng-touched ng-empty" type="text" placeholder="Type another reason.....">
    </p>

    <div class="clear"></div>
</li>
